@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Open+Sans&display=swap');


body {
  background: #222;
  color: white;
  font-family: 'Courier Prime';
  font-weight: 100;
  margin: 0 auto;
  text-align: center;

}

.countdown-content {
  background-color: #db4844;
  border: 5px solid #87CEFA;
  border-radius: 15px;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  width: 75vw;
}

h1 {
  color: white;
  display: block;
  font-size: 7vw;
  padding-top: 20px;
}

.divider {
  border-bottom: 7px solid #87CEFA;
  border-radius: 15px;
  margin: 30px;
  opacity: 75%;
}

div {
  display: inline-block;
  font-size: 50px;
  line-height: 1;
  padding: 10px;
}

span {
  color: white;
  display: block;
  font-size: 1.60vw;
}

#days {
  font-size: 6.5vw;
}

#hours {
  font-size: 6.5vw;
}

#minutes {
  font-size: 6.5vw;
}

#seconds {
  font-size: 3.125vw;
}

a {
  color: white;
  display: inline-block;
  font-size: 3.25vw;
  margin: 0 auto;
}

a:hover {
  color: #87CEFA;
}

p {
  bottom: 0;
  font-size: 1.4vw;
  opacity: 60%;
  padding-top: 15px;
  position: absolute;
  width: 100%;
}
