@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Open+Sans&display=swap');

body {
  font-family: 'Courier Prime';
  width: 800px;
  margin: 0 auto;
  text-align: center;
  color: white;
  background: #222;
  font-weight: 100;
}

h1 {
  font-size: 100px;
  display: block;
  color: white;
}

div {
  display: inline-block;
  line-height: 1;
  padding: 20px;
  font-size: 50px;
}

span {
  display: block;
  font-size: 20px;
  color: white;
}

#days {
  font-size: 100px;
  // color: #db4844;
}
#hours {
  font-size: 100px;
  // color: white;
}
#minutes {
  font-size: 100px;
  // color: blue;
}
#seconds {
  font-size: 50px;
  // color: #db4844;
}

.divider {
  flex-grow: 1;
  border-bottom: 7px solid #87CEFA;
  border-radius: 15px;
  margin: 5px
}

.countdown-background {
  background-color: #db4844;
  margin: auto;
  border: 5px solid #87CEFA;
  border-radius: 15px;
  margin-top: 50px
}
