@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Open+Sans&display=swap');

body {
  background: #222;
  color: white;
  font-family: 'Courier Prime';
  font-weight: 100;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  width: 1000px;
}

.countdown-background {
  background-color: #db4844;
  border: 5px solid #87CEFA;
  border-radius: 15px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

h1 {
  color: white;
  display: block;
  font-size: 100px;
}

.divider {
  border-bottom: 7px solid #87CEFA;
  border-radius: 15px;
  flex-grow: 1;
  margin: 5px;
}

div {
  display: inline-block;
  font-size: 50px;
  line-height: 1;
  padding: 20px;
}

span {
  color: white;
  display: block;
  font-size: 20px;
}

#days {
  font-size: 100px;
}

#hours {
  font-size: 100px;
}

#minutes {
  font-size: 100px;
}

#seconds {
  font-size: 50px;
}

a {
  color: white;
  font-size: 40px;
}

a:hover {
  color: #87CEFA;
}

p {
  padding: 100px;
  opacity: 60%;
}
